<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * *******************************************************
  ~  *
  ~  * @文件名称：AndroidManifest.xml
  ~  * @文件作者：ouyangshengduo Copyright(c) 2017. All rights reserved.
  ~  * @创建时间：17-3-21 下午9:59
  ~  * @文件描述：
  ~  * @修改历史：Last modified 17-3-21 下午9:58 ********************************************************
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oysd.com.framebulding">

    <application
        android:allowBackup="true"
        android:name=".application.OysdApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>